* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #F4FAFF;
    overflow-y: scroll;
}

header {
    background-color: #463D90;
    text-align: center;
    min-height: 8vh;
    max-height: 8vh;
    padding: 0 6vw;
}

.header-grid-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.header-grid-container div {
    width: 17vw;
    color: white;
    font: normal 1em/normal;
}

.header-grid-container:nth-child(1),
.header-grid-container :nth-child(2) {
    text-align: left;
}

.header-grid-container div:nth-child(2) {
    min-width: 225px;
}
.header-grid-container div:nth-child(5) {
    text-align: right;
}

.header-grid-container div:nth-child(5) img {
    vertical-align: middle;
    padding: 0 12px;
}

.menu-main {
    padding: 3vh 10px;
    cursor: pointer;
}

.menu-main:hover {
    background-color: white;
    color: #463D90;
}

.drop-down {
    /* display: none; */
    position: absolute;
    left: 6vw;
    top: 8vh;
    width: 88vw !important;
    height: 0px;
    background-color: white;
    -webkit-transition: height .5s cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: height .5s cubic-bezier(0.68, -0.75, 0.265, 1.75);
    overflow-x: scroll;
    z-index: 2;
}

.menu-main:hover .drop-down {
    display: block;
    height: 45vh;
}

.button {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 15vw;
    height: 30px;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 21px;
    border-radius: 21px;
    font: normal 1em/normal;
    color: rgba(140, 140, 140, 1);
    text-decoration: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(40, 40, 40, 0.4);
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
    -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:hover {
    color: rgba(181, 181, 181, 1);
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:focus {
    width: 17vw;
    cursor: default;
    padding: -13px 20px 0;
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}


/* Container for flexboxes */

.row {
    display: -webkit-flex;
    display: flex;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    padding: 6px 0;
    font-size: .85em;
    color: #939293;
}

.column-menu {
    width: 20vw !important;
    min-width: 200px;
    padding: 20px 40px;
    height: 300px;
}

.column-menu h6 {
    color: #463D90;
    margin-bottom: 0px;
}

.column-menu h6:hover {
    color: #4E40A5;
}

.popup {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.6)
}

.popup-content {
    padding: 50px 25px;
    width: 50%;
    height: 50%;
    max-height: 60%;
    position: absolute;
    left: 25%;
    top: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-content * {
    display: block;
}

.popup-content span:nth-child(1) {
    padding: 0px 20px;
    color: #939293;
    font-size: .8em;
}

.popup-content span:nth-child(2) {
    padding: 5px 20px;
    color: #463D90;
    font-size: 1.3em;
    font-weight: 700;
}

.popup-content span:nth-child(3) {
    padding: 25px 20px;
    color: #939293;
    font-size: 1.3em;
    line-height: 1.8em;
}

.popup-content #closePopup {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}


/* Style the footer */

footer {
    width: 100%;
    background-color: #07070E;
    padding: 10px;
    color: #DCDCDE;
    text-align: center;
}

.view-all-offers {
    cursor: pointer;
    padding: 20px 20px 20px 20px;
    border: none;
    color: white;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #463D90;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.grid-container {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: auto auto auto auto;
    padding: 20px 6vw;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    height: 22vw;
    position: relative;
    align-items: center;
    border: none;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    max-width: 20vw;
    min-width: 18vw;
}

.grid-item > div{
    height: 50%;
    background-size: contain !important;
}

.poular-item-button {
    position: absolute;
    align-self: center;
    left: 5%;
    bottom: 20px;
    width: 90%;
    padding: 14px 20px;
}

#slider-wrapper {
    width: 100%;
    padding: 0 6vw;
    height: 470px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

#s1 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
}

#s2 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
}

#s3 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
}

#s4 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
}

#s1:hover,
#s2:hover,
#s3:hover,
#s4:hover {
    opacity: .50;
}

.inner-wrapper {
    width: 88%;
    padding: 0 6vw;
    height: 470px;
    position: absolute;
    overflow: hidden;
}

.control {
    display: none;
}

#Slide1:checked~.overflow-wrapper {
    margin-left: 0%;
}

#Slide2:checked~.overflow-wrapper {
    margin-left: -100%;
}

#Slide3:checked~.overflow-wrapper {
    margin-left: -200%;
}

#Slide4:checked~.overflow-wrapper {
    margin-left: -300%;
}

#Slide1:checked+#s1 {
    opacity: 1;
}

#Slide2:checked+#s2 {
    opacity: 1;
}

#Slide3:checked+#s3 {
    opacity: 1;
}

#Slide4:checked+#s4 {
    opacity: 1;
}

.overflow-wrapper {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.slide img {
    width: 25%;
    float: left;
}

#hexagon-over{
    position: absolute;
    right: 18px;   
    top:42%;
    background: #fff !important;
    width: 70px !important;
    height: 44px !important;
    padding: 8px 12px;
   
}
#hexagon-over:before {
    border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 25px solid #fff;
}

#hexagon-over:after {
    border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 25px solid #fff;
}
.hexagon {
	width: 76px;
	height: 50px !important;
	background: #463D90;
    position: absolute;
    right: 15px;   
    top:41%
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 38px solid transparent;
	border-right: 38px solid transparent;
	border-bottom: 25px solid #463D90;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 38px solid transparent;
	border-right: 38px solid transparent;
	border-top: 25px solid #463D90;
}

.popular-box-details{
    color:black; 
    text-align:left;
    padding:10px 12px;
    border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.3)
}

.small-span{
    font-size:.4em; 
    font-weight:900; 
    display:block
}
.large-span{
    font-size: .7em; 
    font-weight:300; 
    display:block; 
    margin:4px 0
}
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}